@font-face {
  font-family: "MTSSans";
  src: local("MTSSans"), url(./fonts/MTSSans-Regular.otf) format("opentype");
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  font-family: MTSSans, Arial, sans-serif;
}
.header_wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 3rem 5rem 24rem;
  grid-column: 1/13;
}
/* Верхняя серая полоса */
.header_top {
  background-color: #ADAFAF;
  margin: auto;
  grid-column: 1/13;
  grid-row: 1/2;
  width: 100%;
}
.header_top-center {
  max-width: 1140px;
  height: 3rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;
}
.support {
  grid-column: 0/1;
  color: #000;
  padding-left: 1rem;
  align-self: center;
  justify-self: center;
}
.city {
  grid-column: 3/4;
  color: #000;
  padding-right: 1rem;
  align-self: center;
  justify-self: center;
}
/* Полоса с меню-гамбургером */

/*Меню-гамбургер*/
.hamburger-menu {
  display: none;
}

#menu__toggle {
  display: none;
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  background-color: #fff;
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  background-color: #fff;
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #fff;
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  transition: visibility 0.3s linear, opacity 0.3s linear;
  left: 0;
}

.menu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30%;
  left: 30%;
  width: 2rem;
  height: 2rem;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 0.1rem;

  background-color: #58595b;

  transition-duration: 0.5s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: -10px;
  bottom: -100%;

  width: 100%;
  height: 30%;

  margin: 0;
  padding: 10rem 0;

  list-style: none;

  background-color: #58595b;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
}

.menu__item {
  display: block;
  padding: 1rem 2rem;

  color: #fff;

  font-size: 1rem;
  font-weight: 600;

  text-decoration: none;

  transition-duration: 0.5s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

@media screen and (max-device-width: 1024px) {
  .hamburger-menu {
    display: block;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .logo {
    grid-column: 2/3;
  }
  .connection,
  .internetTV,
  .internet,
  .digitalTV,
  .connect {
    display: none;
  }
}
.header_middle {
  background-color: #fff;
  grid-row: 2/3;
  grid-column: 1/13;
  width: 100%;
}

.header_middle_center {
  max-width: 1140px;
  height: 5rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
}
.logo {
  display: grid;
  align-self: center;
  justify-self: center;
}
.logo img {
  align-self: center;
  justify-self: center;
  width: 100%;
}

.connection,
.internetTV,
.internet,
.digitalTV,
.connect {
  align-self: center;
  justify-self: center;
}
/* Полоса с фото */
.header_bottom {
  background-color: #000;
  grid-row: 3/4;
  grid-column: 1/13;
  width: 100%;
 /*  box-shadow: 0 3rem 3rem 1rem #000;
  z-index: 1; */
}

.header_bottom_center {
  max-width: 1140px;
  height: 24rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  color: #fff;
}

.nagiev {
  grid-column: 2/3;
  grid-row: 1/4;
}

@media screen and (max-device-width: 1024px) {
  .nagiev {
    display: none;
  }
  .header_bottom_center {
    grid-template-columns: 1fr;
  }
  .subscription,
  .heading,
  .link {
    text-align: center;
    padding-left: 1rem;
  }
}
.mts_line {
  grid-column: 1/2;
  grid-row: 4/5;
  background-image: url(./img/MTS_Comm_Hor_Rus_Red_Grad.png);
  background-size: cover;
  background-position: right center;
}

.subscription {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: left;
  justify-self: start;
  align-self: center;
}
.heading {
  grid-column: 1/2;
  grid-row: 2/3;

  justify-self: start;
  align-self: center;
}
.link {
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self: start;
  align-self: center;
}

/* Main */
.main_wrapper {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 30rem 2fr 30rem;
  background-color: #ADAFAF;
  /* background-image: url(./img/DSC_2804.JPG);
  background-size: cover; */
}

.address {
  grid-column: 4/10;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 10rem 10rem;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-top: 2rem;
}
@media screen and (max-device-width: 1024px) {
  .address {
    grid-column: 2/12;
  }
  .main_wrapper {
    grid-template-rows: 25rem 2fr;
  }
}
.details {
  /*  grid-row:2/3; */
  width: 100%;
}
.map {
  width: 100%;
  height: 10rem;
  grid-row: 2/3;
  margin-top: 1rem;
}
.select {
  grid-column: 1/2;
  list-style-type: none;
  appearance: none;

  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
select::-webkit-scrollbar {
  display: none;
}
.select option {
  width: 100%;
}

#input {
  grid-row: 1/2;
  margin-left: 0;
}

summary {
  display: none;
}

.cardbox {
  grid-row: 2/3;
  grid-column: 3/11;
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 2rem;
}
@media screen and (max-device-width: 1024px) {
  .cardbox {
    grid-column: 2/12;
  }
}

.latlng {
  display: none;
}

/* .card div {
  border: 1px solid gray;
}
.card h4 {
  border: 1px solid gray;
} */

.card {
  border-radius: 1%;
  background-color: #fff;
  display: grid;
  font-size: 13px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: #fff;
  min-width: 300px;
  max-height: 400px;
  grid-gap: 0.5rem;
}

.cardname {
  grid-row: 1/2;
  grid-column: 2/12;
  text-align: center;
  text-decoration: underline;
}
.cardspeed {
  grid-row: 2/6;
  grid-column: 5/9;

  font-weight: bold;

  text-align: center;
}
.cardspeed span {
  
  font-weight: bold;
  font-size:large;
  text-align: center;
}

.card_minutes {
  grid-row: 2/6;
  grid-column: 2/5;
  text-align: left;
}
.card_channels {
  grid-row: 2/6;
  grid-column: 9/12;
  text-align: right;
}
.cardcost {
  grid-row: 11/13;
  grid-column: 2/12;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: overline;
}
.cardcost img {
  height: 2rem;
  width: 2rem;

}
.card_connect_cost {
  grid-row: 6/7;
  grid-column: 2/12;
}

.card_Gb {
  grid-row: 7/8;
  grid-column: 2/12;
}
.card_SMS {
  grid-row: 8/9;
  grid-column: 2/12;
}
.card_router {
  grid-row: 9/10;
  grid-column: 2/12;
}
.card_console {
  grid-row: 10/11;
  grid-column: 2/12;
}

.form{
  grid-row: 3/4;
  grid-column:4/10;
  margin-top:2rem;
  background-color: #fff;
  display:grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12,2rem);
  grid-gap:.5rem;
  border-radius: 1%;
}
@media screen and (max-device-width: 1024px) {
  .form {
    grid-column: 2/12;
  }
}

.form_head{
  grid-row:2/3;
  grid-column:2/12;
  text-align: center;
}
.flat{
  grid-row:3/4;
  grid-column:2/12;
  
}
.house{
  grid-row:4/5;
  grid-column:2/12;
}
.sername{
  grid-row:6/7;
  grid-column:2/5;
}
.client_name{
  grid-row:6/7;
  grid-column:5/8;
}
.father_name{
  grid-row:6/7;
  grid-column:8/12;
}
.phone{
  grid-row: 8/9;
  grid-column:2/12;
}
.client_address{
  grid-row:9/10;
  grid-column:2/12;
}
.submit{
  grid-row:11/12;
  grid-column:2/12;
}
.form_address{
  grid-row:10/11;
  grid-column:2/12;
}